<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raman.snu_exams2">
    //Storage permissions
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/exams"
        android:label="Exams are Coming"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity android:name=".OpeningScreen" />
        <activity
            android:name=".EngineeringCourses"
            android:label="Engineering Courses" />
        <activity
            android:name=".NaturalScienceCourses"
            android:label="Natural Sciences Courses" />
        <activity
            android:name=".HumanitiesCourses"
            android:label="Humanities Courses" />
        <activity android:name=".GoogleSignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExamType"
            android:label="@string/title_activity_exam_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".testActivity" />
        <activity android:name=".Year" />
        <activity
            android:name=".Year2"
            android:label="@string/title_activity_year2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".help_activity" />
        <activity android:name=".contribute_activity" />
        <activity android:name=".aboutme_activity" />
        <activity android:name=".download_activity" />
        <activity
            android:name=".about_me2"
            android:label="@string/title_activity_about_me2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".help_activity2"
            android:label="@string/title_activity_help_activity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".rate1" />
        <activity android:name=".share"></activity>
    </application>

</manifest>