<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cryptex.raman.snu_exams2">
    //Storage permissions
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/exams"
        android:label="Exams are Coming"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication"
        tools:replace="label">

        <activity android:name="com.cryptex.raman.snu_exams2.OpeningScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.cryptex.raman.snu_exams2.EngineeringCourses"
            android:label="Engineering Courses" />
        <activity
            android:name="com.cryptex.raman.snu_exams2.NaturalScienceCourses"
            android:label="Natural Sciences Courses" />
        <activity
            android:name="com.cryptex.raman.snu_exams2.HumanitiesCourses"
            android:label="Humanities Courses" />
        <activity android:name="com.cryptex.raman.snu_exams2.GoogleSignIn">


        </activity>
        <activity
            android:name="com.cryptex.raman.snu_exams2.ExamType"
            android:label="@string/title_activity_exam_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cryptex.raman.snu_exams2.testActivity" />
        <activity android:name="com.cryptex.raman.snu_exams2.Year" />
        <activity
            android:name="com.cryptex.raman.snu_exams2.Year2"
            android:label="@string/title_activity_year2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cryptex.raman.snu_exams2.help_activity" />
        <activity android:name="com.cryptex.raman.snu_exams2.contribute_activity" />
        <activity android:name="com.cryptex.raman.snu_exams2.aboutme_activity" />
        <activity android:name="com.cryptex.raman.snu_exams2.download_activity" />
        <activity
            android:name="com.cryptex.raman.snu_exams2.about_me2"
            android:label="@string/title_activity_about_me2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cryptex.raman.snu_exams2.help_activity2"
            android:label="@string/title_activity_help_activity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cryptex.raman.snu_exams2.rate1" />
        <activity android:name="com.cryptex.raman.snu_exams2.share"></activity>
    </application>

</manifest>